<a href="https://colab.research.google.com/github/chintan992/chintan992.github.io/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
import pandas as pd
import numpy as np
file = "IPL.xlsx"
df = pd.read_excel(file)
ddf = df.groupby("Year").count()
n1= ddf[["Match_Number"]]

a1 = df[df["Winning_Team"]=="FirstBatting"]
a2 = a1.groupby("Year").count()
n2 = a2["Winning_Team"]

#a2.append(ddf[["Match_Number"]])[["Winning_Team"]]


b1 = df[df["Winning_Team"]=="Chasing"]
b2 = b1.groupby("Year").count()
n3 = b2["Winning_Team"]

c1 = df[df["Winning_Team"]=="Match Tied"]
c2 = c1.groupby("Year").count()
n4 = c2["Winning_Team"]

new = pd.concat([n1,n2,n3,n4],axis=1)
new.columns = ["Total_Matches","First_Team","Chasing","Tied"]
#print(new.fillna(0))

d1 = df.groupby("Venue").count().max()
d2 = d1["Match_Number"]
d2

62

In [0]:
o